@using Microsoft.AspNetCore.Identity
@model IEnumerable<Reservation_V4.Models.Reservation>

@{
    var role = new IdentityRole();



}

    
<p  class="text-center pt-5" >
    <a class="btn btn-warning align-self-center" asp-action="Create">Submit Reservation</a>
</p>
<table class="table">
    <thead  class="table">
    <tr>
     
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>

     
        <th>
            @Html.DisplayNameFor(model => model.Status)

        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cause)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReservationType)
        </th>
       
        <th>
            
            Actions

        </th>
    </tr>
    </thead>

    <tbody>
        <div class="d-flex" >
         <form action="/Reservation" method="post">
            <input type="date" name="FilterDate">
            <input type="submit" value="↵">
         <input name="__RequestVerificationToken" type="hidden" value="CfDJ8FD5s-aCWgNEm17Nhsw7byDJWdSX4NOsq7IifVPA9ALPG3t_7Wim-uvJXVO03GZxqwW9ry5cZJ-7ykj-_-OVTuyAJnKhdd2Hg7p7TQ_fyEveSKGHbTrMsmbpaS6p5Gh-hDodlBj9OjGkZrQ5Iq4NS4v3XuB3RPhJh55MT_v22rJ_ifptl8AIiNtGTE4PCI5qMw"></form>
         <a class="btn btn-danger" href="/Reservation">✘</a>
            
     </div>
@foreach (var item in Model) {
        <tr class="table-primary">


            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cause)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReservationType.ReservationName)
            </td>
           
            <td>
                
               

                @if (User.IsInRole("Admin"))
                {
            <form asp-controller="Reservation" asp-action="StatusChanger">

                <input type="hidden" value="@item.Id" name="Id" />
                <input type="hidden"  value="true" name="Status" />

                <button type="submit" class="btn btn-outline-success m-1">Approve</button>


            </form>

            <form asp-controller="Reservation" asp-action="StatusChanger">

                <input  type="hidden" value="@item.Id" name="Id" />
                <input type="hidden" value="fale" name="Status" />

                <button type="submit" class="btn btn-outline-danger m-1">Reject</button>


            </form>



                }



                <a asp-action="Edit" class="btn btn-outline-info m-1" asp-route-id="@item.Id">Edit</a>




            </td>
        </tr>
}
    </tbody>
</table>
